<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="ColegioSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/colegio.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                           
                            <span class="md-headline">Colegios</span>
                            <span class="md-subhead">Trabajar con colegios</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre</label>
                                <input name="nombre" ng-model="colegio.nombre" required>
                                <div ng-messages="dForm.nombre.$error">
                                <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Direcion</label>
                                <input name="direccion" ng-model="colegio.direccion" required>
                             
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <md-checkbox ng-model="colegio.departamento" aria-label="departamento">
                                Departamento
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox ng-model="colegio.provincia" aria-label="provincia">
                                Provincia
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox ng-model="colegio.distrito" aria-label="distrito">
                                Distrito
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox ng-model="colegio.telefono_1" aria-label="telefono_1">
                                Telefono 1
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox ng-model="colegio.telefono_2" aria-label="telefono_2">
                                Telefono 2
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-checkbox ng-model="colegio.descripcion" aria-label="descripcion">
                                Descripcion
                            </md-checkbox>
                        </md-input-container>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="colegio.id == null">Create</span>
                            <span ng-show="colegio.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
