<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="PersonaSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">Insertar nueva Persona</span>
                            <span class="md-subhead">Completa los datos</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre</label>
                                <input name="nombre" ng-model="persona.nombre" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido Paterno</label>
                                <input name="apellido_paterno" ng-model="persona.apellido_paterno">
                            </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido Materno</label>
                                <input name="apellido_materno" ng-model="persona.apellido_materno">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Dni</label>
                                <input name="dni" ng-model="persona.dni">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Telefono</label>
                                <input name="telefono" ng-model="persona.telefono">
                            </md-input-container>
                            <br>
                             <md-input-container class="md-block" flex-gt-sm>
                                <label>Sexo</label>
                                <input name="sexo" ng-model="persona.sexo">
                            </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
         <input name="email" ng-model="persona.email" placeholder="correo">
                            </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                                <label>Fecha Nacimiento</label>
                                <input name="fecha_nacimiento" ng-model="persona.fecha_nacimiento">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>

                         <md-input-container class="md-block" flex-gt-sm>
                                <label>Lugar Nacimiento</label>
                                <input name="lugar_nacimiento" ng-model="persona.lugar_nacimiento">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>

                            <label>Direccion</label>
                                <input name="direccion" ng-model="persona.direccion">
                            </md-input-container>
<md-input-container class="md-block" flex-gt-sm>
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="persona.id == null">Crear </span>
                            <span ng-show="persona.id">Modificar </span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
