<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="AlumnoSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpeg" />
                        </md-card-avatar>
                        <md-card-header-text>
                           
                            <span class="md-headline">Alumno</span>
                            <span class="md-subhead">Instar Alumno</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Alumno</label>
                                 <md-autocomplete
                                      md-search-text="q"
                                      md-item-text = "item.persona"
                                      md-selected-item-change="selectPersona(item)"
                                      md-items="item in buscarPersona(q)"
                                      md-min-length="1"
                                      placeholder="persona">
                                    <md-item-template>
                                      <span md-highlight-text="q" md-highlight-flags="^i">{{item.persona}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                      No existe "{{q}}" No se registro en la Base de datos.
                                    </md-not-found>
                                  </md-autocomplete>
                            </md-input-container>
                            
                    
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Cargo.E</label>
                                <md-select ng-model="alumno.cargoEscolar" required>
                                    <md-option ng-repeat="c in cargoEscolar" ng-value="c.id">{{c.ncargo}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Colegio</label>
                                <md-select ng-model="alumno.colegio">
                                    <md-option ng-repeat="a in colegio" ng-value="a.id">{{a.ncolegio}}</md-option>
                                </md-select>
                            </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                <label>Estado</label>
                                <input name="estado" ng-model="alumno.estado">
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="alumno.id == null">Create</span>
                            <span ng-show="alumno.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
